<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
<h1>Nawigacja:</h1>
<nav>
    <ul>
        <li><a href="{{ path('app_login') }}">Logowanie</a></li>
        <li><a href="{{ path('app_register') }}">Rejestracja</a></li>
        <li><a href="{{ path('app_posts') }}">Lista</a></li>
    </ul>
</nav>
</body>
</html>
