<!DOCTYPE html>
<html>
<head>
    <title>Lista postów</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

</head>
<body>
<h1>Lista postów</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tytuł</th>
        <th>Treść</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
                <button type="submit">Usuń</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
